<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a>
                <img class="img-responsive" width="150"  src="../../../assets/images/all-products-1.png" alt="">
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a>
                <img class="img-responsive" width="150"  src="../../../assets/images/electronics-1.png" alt="">
                <h6>Electronics</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <img class="img-responsive" width="150"  src="../../../assets/images/fashions-1.png" alt="">
                <h6>Fashion</h6>
            </a>
            
        </div>
        <div class="item">
            <a>
                <img class="img-responsive" width="150"  src="../../../assets/images/jwellery-1.png" alt="">
                <h6>Jewllery</h6>
            </a>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.description}}</p>
                <p><strong>Price:</strong> ${{item.price}}</p>
                <button class="btn btn-primary" (click)="addtocart(item)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>